<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loglink Admin</title>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    </head>

    <body>
        <div class="container mx-auto">
            <div class="mt-5">

                <p class="text-3xl font-bold mt-5">Admin Dashboard</p>

                <p class="text-xl font-bold mt-3">Health check</p>
                <a class="ml-6 text-sm mt-1 text-blue-600 " href="/admin/health">Check</a></li>
            </div>
        </div>
    </body>

</html>