<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://kit.fontawesome.com/9d91eaa1d1.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
  <div class="max-w-max mx-auto">
    <main class="sm:flex">
      <p class="text-4xl tracking-tight font-bold text-green-600 sm:text-5xl sm:tracking-tight"><i class="fa-solid fa-circle-check"></i></p>
      <div class="sm:ml-6">
        <div class="sm:border-l sm:border-gray-200 sm:pl-6">
          <h1 class="text-4xl font-bold text-gray-900 tracking-tight sm:text-5xl sm:tracking-tight">aaaand we're good...</h1>
          <p class="mt-5 text-base text-gray-500">We have authenticated you with Spotify.</p>
          <p class="mt-5 text-base text-gray-500">Copy and paste the following code into the "I Listened To" plugin in logseq:</p>
          <p class="mt-5 text-base text-gray-700 font-bold text-xl">{{ id }}</p>
          <p class="mt-5 text-base text-gray-500">(don't share this code as it unique to you)</p>


        </div>
        <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
          <a href="/" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Go back home </a>
        </div>
      </div>
    </main>
  </div>
</div>

</body>
</html>